<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список машин</title>
</head>
<body>
<h1>Список машин</h1>

<table border="1">
    <tr>
        <th>ID</th>
        <th>brand</th>
        <th>model</th>
        <th>color</th>
        <th>price</th>
    </tr>
    <tr th:each="car : ${cars}">
        <td th:text="${car.id}"></td>
        <td th:text="${car.brand}"></td>
        <td th:text="${car.model}"></td>
        <td th:text="${car.color}"></td>
        <td th:text="${car.price}"></td>
    </tr>
</table>
</body>
</html>
